

/* Keyword values */
/*
mix-blend-mode: normal;
mix-blend-mode: multiply;
mix-blend-mode: screen;
mix-blend-mode: overlay;
mix-blend-mode: darken;
mix-blend-mode: lighten;
mix-blend-mode: color-dodge;
mix-blend-mode: color-burn;
mix-blend-mode: hard-light;
mix-blend-mode: soft-light;
mix-blend-mode: difference;
mix-blend-mode: exclusion;
mix-blend-mode: hue;
mix-blend-mode: saturation;
mix-blend-mode: color;
mix-blend-mode: luminosity;
*/
/* Global values */
/*
mix-blend-mode: initial;
mix-blend-mode: inherit;
mix-blend-mode: unset;
*/


.bg-bm-overlay{
    background-blend-mode: overlay;
}

.bg-bm-multiply{
  background-blend-mode: multiply;
}

.bg-bm-screen{
    background-blend-mode: screen;
}

.bg-bm-darken{
    background-blend-mode: darken;
}

.bg-bm-lighten{
    background-blend-mode: lighten;
}

.bg-bm-color-dodge{
    background-blend-mode: color-dodge;
}


.bg-bm-color-burn{
    background-blend-mode: color-burn;
}


.bg-bm-hard-light{
    background-blend-mode: hard-light;
}


.bg-bm-soft-light{
    background-blend-mode: soft-light;
}


.bg-bm-difference{
    background-blend-mode: difference;
}

.bg-bm-exclusion{
    background-blend-mode: exclusion;
}

.bg-bm-hue{
    background-blend-mode: hue;
}

.bg-bm-saturation{
    background-blend-mode: saturation;
}

.bg-bm-color{
    background-blend-mode: color;
}

.bg-bm-luminosity{
    background-blend-mode: luminosity;
}
