// Converted Variables
$blur-rem: .1rem;

// Custom Media Query Variables


/*
    FILTERS
    Docs:

    https://css-tricks.com/almanac/properties/f/filter/
*/

/*

    Modifiers
    1 = 1st step in scale
    2 = 2nd step in scale
    3 = 3rd step in scale
    4 = 4th step in scale
    5 = 5th step in scale

    -0    = literal value 0%
    -10   = literal value 10%
    -25   = literal value 25%
    -50   = literal value 50%
    -75   = literal value 75%
    -100  = literal value 100%
*/
$percent_values: (
    0:  0%,
    10: 10%,
    25: 25%,
    50: 50%,
    75: 75%,
    100: 100%,
);
/*
    Media Query Extensions:
     -ns = not-small
     -m  = medium
     -l  = large
*/


// make steps maybe using rem or em //
.blur1{ filter:blur( $blur-rem*1 ); }
.blur2{ filter:blur( $blur-rem*2 ); }
.blur3{ filter:blur( $blur-rem*3 ); }
.blur4{ filter:blur( $blur-rem*4 ); }
.blur5{ filter:blur( $blur-rem*5 ); }


// between 0 and 360 //
.hr-90{ filter:hue-rotate(90deg); }

.invert{ filter:invert(100%); }
.grayscale{ filter: grayscale(100%); }

@each $element, $value in $percent_values {
  .invert-#{$element} { filter: invert($value); }
  .gray-#{$element} { filter: grayscale($value); }
  .op-#{$element} { filter:opacity($value); }
  .sepia-#{$element} { filter:sepia($value); }
}


@media #{$breakpoint-not-small} {
  .invert-ns { filter:invert(100%); }
  @each $element, $value in $percent_values {
    .invert-#{$element}-ns { filter: invert($value); }
    .gray-#{$element}-ns { filter: grayscale($value); }
    .op-#{$element}-ns { filter:opacity($value); }
    .sepia-#{$element}-ns { filter:sepia($value); }
  }

}

@media #{$breakpoint-medium} {
  .invert-m { filter:invert(100%); }

  @each $element, $value in $percent_values {
    .invert-#{$element}-m { filter: invert($value); }
    .gray-#{$element}-m { filter: grayscale($value); }
    .op-#{$element}-m { filter:opacity($value); }
    .sepia-#{$element}-m { filter:sepia($value); }
  }

}

@media #{$breakpoint-large} {
  .invert-l { filter:invert(100%); }

  @each $element, $value in $percent_values {
    .invert-#{$element}-l { filter: invert($value); }
    .gray-#{$element}-l { filter: grayscale($value); }
    .op-#{$element}-l { filter:opacity($value); }
    .sepia-#{$element}-l { filter:sepia($value); }
  }
}
